* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
}
.trapez {
  width: 120px;
  height: 80px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px rgba(0, 180, 255))
    drop-shadow(0 0 10px rgba(0, 180, 255))
    drop-shadow(0 0 15px rgba(0, 180, 255));
  animation: outside 10s linear infinite;
}
.trapez-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  transform-origin: center;
  transform: var(--trapez-deg) translateY(-240px);
}
@keyframes outside {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.center {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px rgba(0, 180, 255))
    drop-shadow(0 0 10px rgba(0, 180, 255))
    drop-shadow(0 0 15px rgba(0, 180, 255));
  transform: translate(-50%, -50%);
}
.position-round-border-small {
  width: 130px;
  height: 130px;
  border: 10px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: small 5s linear infinite;
  filter: drop-shadow(0 0 5px rgba(0, 180, 255))
    drop-shadow(0 0 10px rgba(0, 180, 255)) drop-shadow(0 0 15px aqua);
}
@keyframes small {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.position-round-border-big {
  width: 280px;
  height: 280px;
  border: 20px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: big 7s linear infinite;
  filter: drop-shadow(0 0 5px rgba(0, 180, 255))
    drop-shadow(0 0 10px rgba(0, 180, 255))
    drop-shadow(0 0 15px rgba(0, 180, 255));
}
@keyframes big {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
