* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./galaxy.webp);
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.sun {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-position {
  width: var(--width);
  height: var(--height);
  animation: test var(--orbit-duration) linear infinite;
}
@keyframes test {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.center-image {
  width: var(--width-image);
  height: var(--height-image);
  background: var(--image-url) center/cover no-repeat;
  animation: test1 var(--planet-duration) linear infinite;
}
@keyframes test1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.planet {
  position: absolute;
  top: var(--top);
}
.orbit {
  border: 1.5px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
