* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  row-gap: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #2a7b9b;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
header {
  position: relative;
}
.title {
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%; */
  color: white;
  font-size: 80px;
}
.head-change {
  color: white;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
.head-glass {
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: translateX(-50%) rotate(8deg);
  left: 50%;
  top: 0;
}
.tip-calculator {
  background-color: white;
  width: 400px;
  padding: 16px;
  column-gap: 12px;
  border-radius: 26px;
}
.section {
  background-color: #03958a;
  border-radius: 10px;
  height: 100%;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  padding: 26px 16px;
}
p {
  color: #01464b;
  font-size: 18px;
  margin-bottom: 4px;
}
.bill-input {
  padding: 8px;
  display: flex;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}
#input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
#tips {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tip {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #01464b;
  border-radius: 4px;
  transition: all 0.3s;
}
#reset {
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
}
.tip:hover {
  background-color: #84fab0;
}
