* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  /* row-gap: 100px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  /* column-gap: 20px; */
  /* background: #2a7b9b;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
}
.container {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 400px;
  height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
#result {
  width: 360px;
  height: 100px;
  font-size: 80px;

  display: flex;
  align-items: flex-end;
  justify-content: end;
  color: white;
  position: relative;
  top: 60px;
}
/* .display {
  width: 360px;
  height: 80px;
  background-color: black;
  border: none;
  color: white;
  font-size: 40px;
  text-align: right;
  outline: none;
} */
.buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  /* position: relative;
  top: 20px; */
}
.btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: gray;
  font-size: 40px;
  font-weight: bold;
  color: white;
  transition: all 0.2s;
}
.zero {
  width: 180px;
  height: 80px;
  border: none;
  border-radius: 99999px;
  cursor: pointer;
}
.orange {
  background-color: orange;
}
.silver {
  background-color: silver;
  color: black;
}
