* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 700px;
  height: 400px;
  background-color: #2d123b;
  display: flex;
  color: white;
  border-radius: 30px;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 18px;
}
#timer {
  font-size: 100px;
}
#buttons {
  display: flex;
  column-gap: 16px;
}
button {
  width: 130px;
  height: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.2s;
}
#stop,
#reset {
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}
#start:hover {
  background-color: #e67cd9;
  color: white;
}
#stop:hover,
#reset:hover {
  color: white;
  background-color: #e67cd9;
}
